services:
  postgres:
    image: postgres:12
    platform: linux/amd64
    container_name: odoo14-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/data

  odoo:
    build: .
    platform: linux/amd64
    container_name: odoo14
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "8069:8069"
    environment:
      HOST: postgres
      USER: odoo
      PASSWORD: odoo
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    volumes:
      - ./odoo-web-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./config:/etc/odoo
